.posts{

}

.CreatePost{
    padding: 5px;
}

.CreatePost textarea {
    display: block;
    float: left;
    height: 40px;
    width: 500px;
}

.CreatePost button {
    margin-left: 5px;
    height: 46px;
    width: 80px;

}